#te-container.settingsContents.settingsContents__twitchemoticons(data-section='twitchemoticons')
  h2#te-main-header.settingsTitle
    span: i Emoticons
    | &nbsp;
    input#te-enabled-check(type='checkbox')
    | &nbsp;
    label#te-enabled-label(for='te-enabled-check')
  p.explanation Type your text as you normally would, the script will automatically add emoticons to the messages.
  div#te-actions
    button#te-reload: span Clear cache
    button#te-reset: span Reset <i>Emoticons</i> completely
  div#te-result.te-result
  p.te-bold.explanation After you change a setting, you need to click <i>Cancel</i> or <i>Save</i> button and reload the page.
  h3 What to Watch?
  table.checkboxForm
    tr
      td: input#te-enabled-messages-all(type='radio', name='watch')
      th: label(for='te-enabled-messages-all') Watch all messages (including history)
    tr
      td: input#te-enabled-messages-new(type='radio', name='watch')
      th: label(for='te-enabled-messages-new') Watch new messages only
  h3 Emoticon Sets
  p.form
    label(for='te-packs-active') Active Packs
  p.form
    textarea#te-packs-active.input.settings__inputSetting
  p.form
    span Loaded Packs:&nbsp;
    span#te-packs-loaded
  p.form
    span Failed Packs:&nbsp;
    span#te-packs-failed
  h3 Emoticon Size
  table.form
    tr
      th
        label(for='te-image-width') Width
        span.explanation &nbsp;(optional)
      td: input.input#te-image-width(type='text')
    tr
      th
        label(for='te-image-height') Height
        span.explanation &nbsp;(optional)
      td: input.input#te-image-height(type='text')
  hr
  p#te-donate.explanation
    | If you like this script, please&nbsp;
    a(href='http://dogancelik.com/donate.html', target='_blank') consider a donation
  p.explanation
    a(href='https://github.com/dogancelik/irccloud-emoticons', target='_blank') Source code
    | &nbsp;-&nbsp;
    a(href='https://github.com/dogancelik/irccloud-emoticons/issues', target='_blank') Report bug / Request feature
