#te-container
  font-size 18px

#te-actions
  span
    padding 2px 10px !important

.te-result
  display none
  
  &.userSuccess, &.userError
    display block
    
.te-bold
  font-weight bold

#te-sets
  label > span
    &::after
      content " emotes)"

    &::before
      content "("

#te-donate
  font-weight bold
  
  > *
    vertical-align top

#te-enabled-label
  font-weight normal

#te-enabled-check:not(:checked) ~ #te-enabled-label
  color red

  &::after
    content "Not enabled"

#te-enabled-check:checked ~ #te-enabled-label
  color green

  &::after
    content "Enabled"